* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.font1{
  font-family: 'Playfair Display';
  font-style: italic;
}
.banner {
  background-image: url("../images/bannerbg_02.png");
  height: 80vh;
}
.pics {
  margin-top: -200px;
}
.pic1 {
  top: 65px;
  left: 40px;
}
.pic2 {
  top: 0px;
  left: 0x;
}
.pic3 {
  top: 45px;
  left: 35px;
}
.collec {
  padding-right: 20px;
  border-radius: 8px;
}
#shop {
  padding: 8px 15px;
  display: none;
}
.pen {
  top: 70px;
  padding: 8px 15px;
  display: none;
}
.pen {
  display: none;
}
.amount:hover + .pen {
  display: block;
}
.li {
  color: white;
  background-color: #dc9cbe;
  list-style: none;
  padding: 10px;
  border: 1px solid pink;
}
li {
  list-style: none;
}
/* li */
 a {
  text-decoration: none;
  color: gray;
}
.time {
  top: 10px;
  width: 93%;
  margin: 0px auto;
  left: 20px;
}
.time1 {
  bottom: 327px;
  width: 93%;
  margin: 0px auto;
  left: 16px;
}
.news {
  top: 60px;
  left: 45px;
}
.news1 {
  background-color: pink;
  top: 55px;
  right: 0px;
}
.foot1 {
  background-color: #dc9cbe !important;
  bottom: -129px;
}
.foot1 h1 {
  font-size: 72px;
}
.upto {
  padding: 0px 0px 250px 0px;
}
.fot {
  padding-top: 120px;
}
.foot {
  background-color: #dc9cbe !important;
}
/* start carasoual */
.owl-item {
  margin-right: 0px !important;
}
.click h6,
p {
  font-size: 12px;
}
.click:hover {
  color: #dc9cbe;
  width: 123px;
  height: 148px;
  box-shadow: 1px 1px 5px #000;
}
/* end carasoual */
.post1 {
  display: none;
}
.recent1:hover + .post1 {
  display: block;
}
.logo1 {
  background-color: #dc9cbe !important;
  opacity: 1 !important;
}
.logo:hover + .post {
  display: block;
}
.post {
  display: none;
}
.recent:hover + .post {
  display: block;
}
.bor {
  border: 1px solid black;
}
@media screen and (max-width: 1405px) {
  i.car {
    border: none !important;
    padding: 20px 10px 20px 10px !important;
  }
  .news1 {
    background-color: pink;
    top: 55px;
    right: 0px;
  }
  .num {
    font-size: 18px !important;
  }
  .num1 {
    margin-left: -12px !important;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 1210px) {
  .num1 {
    margin-left: -12px !important;
    font-size: 14px !important;
  }
  .foot1 h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 990px) {
  .pic3 {
    top: 20px;
    left: 35px;
  }
  .pic3 h3,
  h1 {
    font-size: 18px;
  }
  .num {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px !important;
  }
  .num1 {
    margin-left: -12px !important;
    font-size: 10px !important;
  }
}
@media screen and (max-width: 970px) {
  .news1 {
    top: px;
    right: 0px;
  }
  .pic3 {
    top: 20px;
    left: 35px;
  }
  .num {
    margin-left: 0px !important;
    font-size: 33px !important;
  }
  .num1 {
    margin-left: 0px !important;
    font-size: 24px !important;
  }
}
@media screen and (max-width: 765px) {
  .news1 {
    top: 320px;
    right: 0px;
  }
  .space {
    margin-top: 200px;
  }
  footer {
    text-align: center;
  }
  .foot1 h1 {
    font-size: 40px;
  }
}
